:root{
    --main-color: #240090;
    --bg-color: #f2e0e0;
}
*{
    padding: 0;
    margin: 0;
}
.main-color{
    color: var(--main-color);
}
.background-color{
    background-color: var(--main-color);
}

.font-size-1-2{
    font-size: 2rem;
}
.bg-color{
    background-color: var(--bg-color);
}
.circle-1{
    border-radius: 50%;
    position: absolute;
    bottom: 300px;
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    left: -200px;
}
.circle-2{
    border-radius: 50%;
    position: absolute;
    top: 80px;
    background-color: var(--main-color);
    width: 100px;
    height: 100px;
    right: -200px;
}
.card-1{
    position: absolute;
    width: 220px;
    height: 90px;
    padding: 20px;
    top: 25%;
    left: -160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: -5px 5px 15px #f3f3f3;
    background-color: #fff;
}
.card-2{
    position: absolute;
    width: 150px;
    height: 150px;
    padding: 20px;
    top: 65%;
    left: -80px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: -5px 5px 15px #f3f3f3;
    background-color: #fff;
}
.icon{
    font-size: 3rem;
    margin-right: 10px;
    color: var(--main-color);
}
.small-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    position: absolute;
}
.img-2{
    right: 35px;
    z-index: 2;
}
.img-3{
    right: 61px;
    z-index: 1;
}
.img-1{
    left: 35px;
    z-index: 0;
}